---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/thats/an/error
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "error": {
                "code": 404,
                "message": "Not Found"
            },
            "debug": {
                "source": "Routes.php:431 at route stage",
                "stages": {
                    "success": [
                        "get"
                    ],
                    "failure": [
                        "route",
                        "negotiate",
                        "message"
                    ]
                }
            }
        }
  recorded_at: Thu, 22 Feb 2018 12:52:41 GMT
recorded_with: VCR 4.0.0
