---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "items": [
                {
                    "idplayer": "1",
                    "surname": "Абабилов",
                    "name": "Алексей",
                    "patronymic": ""
                },
                {
                    "idplayer": "6",
                    "surname": "Абаков",
                    "name": "Карен",
                    "patronymic": ""
                },
                {
                    "idplayer": "7",
                    "surname": "Абакумов",
                    "name": "Андрей",
                    "patronymic": ""
                },
                {
                    "idplayer": "8",
                    "surname": "Абакумова[...]
