---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/search?name=%D0%B2%D0%B0%D1%81&surname=%D0%B0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"items":[{"idplayer":"14","surname":"Абанин","name":"Василий","patronymic":""},{"idplayer":"338","surname":"Агапитов","name":"Василий","patronymic":""},{"idplayer":"542","surname":"Акимов","name":"Василий","patronymic":""},{"idplayer":"742","surname":"Алексеев","name":"Василий","patronymic":""},{"idplayer":"743","surname":"Алексеев","name":"Василий","patronymic":""},{"idplayer":"744","surname":"Алексеев","name":"Василий","patronymic":""},{"idplayer":"1271","surname":"Антонов","name":"Василий","patronymic":""},{"idplayer":"1467","surname":"Аристов","name":"Василий","pat[...]
