---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idplayer":"42511","surname":"Некрылов","name":"Николай","patronymic":"Андреевич","comment":"","db_chgk_info_tag":"nnekrylov"}]'
  recorded_at: Wed, 20 Sep 2017 15:01:00 GMT
recorded_with: VCR 3.0.3
