---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idplayer":"42511","surname":"Некрылов","name":"Николай","patronymic":"Андреевич","comment":"","db_chgk_info_tag":"nnekrylov"}]'
  recorded_at: Fri, 06 Oct 2017 16:00:13 GMT
recorded_with: VCR 3.0.3
