---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511/rating/1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idplayer": "42511",
            "idrelease": "1000",
            "rating": "6766",
            "rating_position": "159",
            "date": "2014-04-03",
            "tournaments_in_year": "81",
            "tournament_count_total": "614"
        }
  recorded_at: Tue, 17 Apr 2018 18:51:59 GMT
recorded_with: VCR 4.0.0
