---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/1000/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "51": {
                "idplayer": "1000",
                "idseason": "51",
                "tournaments": [
                    {
                        "idtournament": "4712",
                        "idteam": "51284",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4830",
                        "idteam": "51284",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4782",
                        "idteam": "66",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4771",
                        "idteam": "43783",
  [...]
