---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/1000/rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idplayer": "1000",
                "idrelease": "1149",
                "rating": "339",
                "rating_position": "99999",
                "date": "2006-09-28",
                "tournaments_in_year": "0",
                "tournament_count_total": "284"
            },
            {
                "idplayer": "1000",
                "idrelease": "632",
                "rating": "511",
                "rating_position": "1527",
                "date": "2006-10-05",
                "tournaments_in_year": "1",
                "tournament_count_total": "284"
            },
            {
                "idplayer": "1000",
                "idrelease": "633",
                "rating": "506",
                "rating_position": "1536",
         [...]
