---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idplayer": "42511",
                "surname": "Некрылов",
                "name": "Николай",
                "patronymic": "Андреевич",
                "comment": "",
                "db_chgk_info_tag": "nnekrylov"
            }
        ]
  recorded_at: Fri, 23 Feb 2018 14:27:20 GMT
recorded_with: VCR 4.0.0
