---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "51": {
                "idplayer": "42511",
                "idseason": "51",
                "tournaments": [
                    {
                        "idtournament": "4510",
                        "idteam": "58046",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4335",
                        "idteam": "59495",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4872",
                        "idteam": "44198",
                        "in_base_team": "0"
                    },
                    {
                        "idtournament": "4497",
                        "idteam": "41444",[...]
