---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/42511/rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idplayer": "42511",
                "idrelease": "141",
                "rating": "3",
                "rating_position": "13104",
                "date": "2011-03-31",
                "tournaments_in_year": "4",
                "tournament_count_total": "614"
            },
            {
                "idplayer": "42511",
                "idrelease": "854",
                "rating": "3",
                "rating_position": "13138",
                "date": "2011-04-07",
                "tournaments_in_year": "4",
                "tournament_count_total": "614"
            },
            {
                "idplayer": "42511",
                "idrelease": "855",
                "rating": "296",
                "rating_position": "5586",
        [...]
