---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/1000/tournaments/51
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idplayer": "1000",
            "idseason": "51",
            "tournaments": [
                {
                    "idtournament": "4712",
                    "idteam": "51284",
                    "in_base_team": "0"
                },
                {
                    "idtournament": "4830",
                    "idteam": "51284",
                    "in_base_team": "0"
                },
                {
                    "idtournament": "4782",
                    "idteam": "66",
                    "in_base_team": "0"
                },
                {
                    "idtournament": "4771",
                    "idteam": "43783",
                    "in_base_team": "0"
                },
                {
                    "idtournament": "4150",
                    "idteam": "66",
                    "in_base_team": "0"
                },
                {
                    "idtournament": "4467",
                    "idteam": "40043",
                    "in_base_team": "1"
                }
            ]
        }
  recorded_at: Wed, 18 Apr 2018 14:11:41 GMT
recorded_with: VCR 4.0.0
