---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players?page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"items":[{"idplayer":"2100","surname":"Бажина","name":"Евгения","patronymic":""},{"idplayer":"2101","surname":"Бажов","name":"Иван","patronymic":""},{"idplayer":"2103","surname":"Базаев","name":"Аман","patronymic":""},{"idplayer":"2104","surname":"Базаев","name":"Аскар","patronymic":""},{"idplayer":"2105","surname":"Базаев","name":"Игорь","patronymic":""},{"idplayer":"2106","surname":"Базайкина","name":"Дина","patronymic":""},{"idplayer":"2107","surname":"Базалёва","name":"Елена","patronymic":"Сергеевна"},{"idplayer":"2108","surname":"Базалийский","name":"Сергей","patron[...]
