---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/players/1000/rating/1336
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idplayer": "1000",
            "idrelease": "1336",
            "rating": "7674",
            "rating_position": "1417",
            "date": "2018-04-12",
            "tournaments_in_year": "15",
            "tournament_count_total": "284"
        }
  recorded_at: Fri, 13 Apr 2018 15:43:26 GMT
recorded_with: VCR 4.0.0
