---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/rating/24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idteam": "1",
            "idrelease": "24",
            "rating": "9071",
            "rating_position": "9",
            "date": "1999-01-07",
            "formula": "b"
        }
  recorded_at: Fri, 23 Feb 2018 14:29:01 GMT
recorded_with: VCR 4.0.0
