---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/recaps/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"idteam":"1","idseason":"9","players":["2935","18935","20612","32979"],"captain":"2935"}'
  recorded_at: Thu, 28 Sep 2017 16:42:31 GMT
recorded_with: VCR 3.0.3
