---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/recaps
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"6":{"idteam":"1","idseason":"6","players":["1585","2935","18935","20612","29800","32979"],"captain":"2935"},"7":{"idteam":"1","idseason":"7","players":["1585","2935","18935","20612","29800","32979"],"captain":"2935"},"8":{"idteam":"1","idseason":"8","players":["2935","18935","20612","29800","30152","32979"],"captain":"2935"},"9":{"idteam":"1","idseason":"9","players":["2935","18935","20612","32979"],"captain":"2935"}}'
  recorded_at: Fri, 29 Sep 2017 16:25:34 GMT
recorded_with: VCR 3.0.3
