---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/recaps/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idteam": "1",
            "idseason": "9",
            "players": [
                "2935",
                "18935",
                "20612",
                "32979"
            ],
            "captain": "2935"
        }
  recorded_at: Fri, 23 Feb 2018 14:27:19 GMT
recorded_with: VCR 4.0.0
