---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/7931/recaps/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "idteam": "7931",
            "idseason": "51",
            "players": [
                "2668",
                "6654",
                "23539",
                "53735",
                "94783",
                "98697",
                "115867",
                "149858"
            ],
            "captain": "23539"
        }
  recorded_at: Fri, 23 Feb 2018 14:41:41 GMT
recorded_with: VCR 4.0.0
