---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/7931/recaps/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"idteam":"7931","idseason":"51","players":["2668","6654","23539","53735","94783","98697","115867"],"captain":"23539"}'
  recorded_at: Thu, 28 Sep 2017 17:00:33 GMT
recorded_with: VCR 3.0.3
