---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/3506/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idteam":"2124","current_name":"Полосатый мамонт","base_name":"Полосатый
        мамонт","position":"3","questions_total":"34","mask":"111011111111100001111101110010110110101011101111","bonus_a":"1575","bonus_b":"-48","tech_rating":"2561","predicted_position":"2","real_bonus_b":"421","d_bonus_b":"-48","included_in_rating":"1"},{"idteam":"4883","current_name":"Несколько
        сложнее","base_name":"Несколько сложнее","position":"18","questions_total":"18","mask":"110001101111100000100001000010010100010001000101","bonus_a":"0","bonus_b":"-42","tech_rating":"586","predicted_position":"10","real_bonus_b":"14","d_bonus_b":"-42","included_in_rating":"1"},{"idteam":"28434","current_name":"Признаки
        разума","base_name":"Признаки разума","position":"14","questions_total":"19","mask":"101001101110101000100100100011[...]
