---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams?page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "items": [
                {
                    "idteam": "2283",
                    "name": "Розовый слон",
                    "town": "Нижний Новгород"
                },
                {
                    "idteam": "2285",
                    "name": "Эффект внезапности",
                    "town": "Саранск"
                },
                {
                    "idteam": "2286",
                    "name": "МБХ",
                    "town": "Архангельск"
                },
                {
                    "idteam": "2287",
                    "name": "Унесённые негром",
                    "town": "Одесса"
      [...]
