---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/tournaments/4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"idteam":"1","idseason":"4","tournaments":["188","155","150","160","141","118","126","121"]}'
  recorded_at: Fri, 06 Oct 2017 15:53:11 GMT
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/188
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idtournament":"188","name":"Чемпионат мира","town":"Калининград","long_name":"","date_start":"2006-08-27
        00:00:00","date_end":"2006-08-27 00:00:00","tour_count":"3","tour_questions":"15","tour_ques_per_tour":"","questions_total":"45","type_name":"Обычный","main_payment_value":"","discounted_payment_value":"","discounted_payment_reason":"","date_requests_allowed_to":"","comment":"","site_url":""}]'
  recorded_at: Fri, 06 Oct 2017 15:53:11 GMT
[...]
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idtournament":"121","name":"Кубок провинций","town":"","long_name":"","date_start":"2005-10-16
        00:00:00","date_end":"2005-10-16 00:00:00","tour_count":"3","tour_questions":"15","tour_ques_per_tour":"","questions_total":"45","type_name":"Синхрон","main_payment_value":"","discounted_payment_value":"","discounted_payment_reason":"","date_requests_allowed_to":"","comment":"","site_url":""}]'
  recorded_at: Fri, 06 Oct 2017 15:53:12 GMT
recorded_with: VCR 3.0.3
