---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1/rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idteam":"1","idrelease":"1","rating":"6093","rating_position":"8","date":"2003-07-01","formula":"a"},{"idteam":"1","idrelease":"22","rating":"0","rating_position":"6","date":"1999-07-08","formula":"a"},{"idteam":"1","idrelease":"23","rating":"0","rating_position":"8","date":"1999-03-25","formula":"a"},{"idteam":"1","idrelease":"24","rating":"0","rating_position":"19","date":"1999-01-07","formula":"a"},{"idteam":"1","idrelease":"25","rating":"0","rating_position":"34","date":"1998-10-29","formula":"a"},{"idteam":"1","idrelease":"26","rating":"0","rating_position":"0","date":"","formula":"a"[...]
