---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/3506/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idteam": "2124",
                "current_name": "Полосатый мамонт",
                "base_name": "Полосатый мамонт",
                "position": "3",
                "questions_total": "34",
                "mask": "111011111111100001111101110010110110101011101111",
                "tech_rating_rt": "2583",
                "tech_rating_rg": "2583",
                "tech_rating_rb": "2525",
                "rating_r": "2558",
                "predicted_position": "2",
                "bonus_b": "421",
                "diff_bonus": "-48",
                "included_in_rating": 1
            },
            {
                "idteam": "4883",
                "current_name": "Несколько сложнее",
                "base_name": "Несколько сложнее",
                "position": "18",
                "questions_total": "18",
                "mask": "110001101111100000100001000010010100010001000101",
                "tech_rating_rt": "589",
                "tech_rating_rg": "586",
                "tech_rating_rb": "772",
                "rating_r": "768",
                "predi[...]
