---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idteam":"1","name":"Неспроста","town":"Москва","comment":""}]'
  recorded_at: Fri, 06 Oct 2017 16:00:13 GMT
recorded_with: VCR 3.0.3
