---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "items": [
                {
                    "idteam": "1",
                    "name": "Неспроста",
                    "town": "Москва"
                },
                {
                    "idteam": "2",
                    "name": "Афина",
                    "town": "Москва"
                },
                {
                    "idteam": "3",
                    "name": "Команда Ильи Иткина",
                    "town": "Москва"
                },
                {
                    "idteam": "5",
                    "name": "Команда Кузьмина",
                    "town": "Москва"
                },
        [...]
