---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idteam":"1","name":"Неспроста","town":"Москва","comment":""}]'
  recorded_at: Wed, 20 Sep 2017 15:04:50 GMT
recorded_with: VCR 3.0.3
