---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/3506/recaps/52853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idplayer": "51249",
                "is_captain": "1",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122707",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "51250",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122709",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122710",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122711",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122712",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            },
            {
                "idplayer": "122713",
                "is_captain": "0",
                "is_base": "1",
                "is_foreign": "0"
            }
        ]
  recorded_at: Fri, 23 Feb 2018 14:27:19 GMT
recorded_with: VCR 4.0.0
