---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        [
            {
                "idteam": "1",
                "name": "Неспроста",
                "town": "Москва",
                "region_name": "Москва",
                "country_name": "Россия",
                "tournaments_this_season": "0",
                "tournaments_total": "101",
                "comment": ""
            }
        ]
  recorded_at: Fri, 23 Feb 2018 14:27:19 GMT
recorded_with: VCR 4.0.0
