---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/search?name=%D1%8D&town=%D0%BC%D0%B8%D0%BD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"items":[{"idteam":"5444","name":"Эйфью","town":"Минск"},{"idteam":"31864","name":"Энергия","town":"Минск"},{"idteam":"33189","name":"Эдельвейс","town":"Минск"},{"idteam":"33216","name":"Энигма","town":"Минск"},{"idteam":"39997","name":"Эталон
        этанола","town":"Минск"},{"idteam":"42689","name":"Эрудит","town":"Минусинск"},{"idteam":"49887","name":"Экспромт
        - 2,66","town":"Минск"},{"idteam":"51722","name":"Эстонский экспресс","town":"Минск"},{"idteam":"52728","name":"Экстремум","town":"Минусинск"},{"idteam":"53479","name":"Экономные
        люди","town":"Минск"},{"idteam":"58743","name":"Эскадрон моих мыслей шальных","town":"Минск"}],"total_items":"11","current_items":"1-1000"}'
  recorded_at: Fri, 06 Oct 2017 16:00:58 GMT
recorded_with: VCR 3.0.3
