---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/teams/search?name=%D1%8D&town=%D0%BC%D0%B8%D0%BD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "items": [
                {
                    "idteam": "5444",
                    "name": "Эйфью",
                    "town": "Минск"
                },
                {
                    "idteam": "31864",
                    "name": "Энергия",
                    "town": "Минск"
                },
                {
                    "idteam": "33189",
                    "name": "Эдельвейс",
                    "town": "Минск"
                },
                {
                    "idteam": "33216",
                    "name": "Энигма",
                    "town": "Минск"
                },
                {
[...]
