---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments/3506
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '[{"idtournament":"3506","name":"Чемпионат Перми и Пермского края","town":"Пермь","long_name":"XV
        Чемпионат Перми и Пермского края по игре \"Что? Где? Когда?\"","date_start":"2015-11-08
        14:00:00","date_end":"2015-11-08 18:00:00","tour_count":"4","tour_questions":"12","tour_ques_per_tour":"","questions_total":"48","type_name":"Обычный","main_payment_value":"660","discounted_payment_value":"360","discounted_payment_reason":"для
        детских команд; 480 - для студенческих","date_requests_allowed_to":"","comment":"","site_url":"https:\/\/vk.com\/chgk.perm.championship"}]'
  recorded_at: Fri, 06 Oct 2017 16:00:14 GMT
recorded_with: VCR 3.0.3
