---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: |-
        {
            "items": [
                {
                    "idtournament": "1908",
                    "name": "Фестиваль в Мариуполе",
                    "date_start": "1989-09-01 00:00:00",
                    "date_end": "1989-09-03 00:00:00",
                    "type_name": "Обычный"
                },
                {
                    "idtournament": "1909",
                    "name": "Друзь приглашает друзей",
                    "date_start": "1990-10-01 00:00:00",
                    "date_end": "1990-10-01 00:00:00",
                    "type_name": "Обычный"
                },
                {
                    "idtournament": "1604",
                    "name": "Открытый чемпионат Москвы",
                    "date_start": "1991-05-03 00:00:00",
   [...]
