---
http_interactions:
- request:
    method: get
    uri: http://rating.chgk.info/api/tournaments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      content-language:
      - en
    body:
      encoding: UTF-8
      string: '{"items":[{"idtournament":"4592","name":"Гран-при Бауманки. Синхрон","date_start":"2017-10-29
        10:00:00","date_end":"2018-08-23 10:00:00","type_name":"Общий зачёт"},{"idtournament":"4591","name":"Гран-при
        Бауманки. 6 этап","date_start":"2018-08-19 10:00:00","date_end":"2018-08-23
        10:00:00","type_name":"Синхрон"},{"idtournament":"4590","name":"Гран-при Бауманки.
        5 этап","date_start":"2018-06-03 10:00:00","date_end":"2018-06-07 10:00:00","type_name":"Синхрон"},{"idtournament":"4251","name":"X-Сom
        Files","date_start":"2018-05-18 19:00:00","date_end":"2018-05-22 19:00:00","type_name":"Синхрон"},{"idtournament":"445[...]
